.filter-block {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.filter-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-icon {
  font-size: 1.1rem;
  color: var(--fontColor);
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-icon:hover {
  color: var(--paginationHover);
}

.filter-container {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: var(--listItemColor);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  z-index: 100;
  width: 300px;
}

.filter-container h3 {
  font-size: 1.2rem;
  color: var(--fontColor);
  margin-bottom: 15px;
}

.filter-fields {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-fields div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-fields label {
  font-size: 14px;
  color: var(--fontColor);
}

.filter-fields input {
  padding: 10px;
  border: 1px solid var(--fontColor);
  border-radius: 5px;
  background-color: var(--white);
  font-size: 0.65rem;
  color: var(--fontColor);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-fields input:focus {
  border-color: var(--paginationColor);
  box-shadow: 0 0 5px var(--paginationColor);
  outline: none;
}

.filter-container button {
  padding: 10px 20px;
  background-color: var(--paginationColor);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-container button:hover {
  background-color: var(--paginationHover);
}
