.list {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  border: none;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--paginationColor);
  color: var(--white);
  border: none;
}

.pagination button:hover {
  background-color: var(--paginationColor);
  color: var(--white);
}
