.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--listItemColor);
  position: relative;
}

.list-item div {
  width: 100%;
  margin-bottom: 10px;
}

.edit-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.amount {
  font-weight: bold;
}

.amount.expense {
  color: var(--red);
}

.amount.income {
  color: var(--green);
}

.button-container {
  display: none;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.list-item:hover .button-container {
  display: flex;
}

.editing .button-container {
  display: flex;
  position: static;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

/* Styly tlačítek Uložit a Zrušit */
.save-button {
  background-color: var(--paginationColor);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.7rem;
}

.save-button:hover {
  background-color: var(--paginationHover);
}

.cancel-button {
  background-color: var(--deleteButton);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.7rem;
}

.cancel-button:hover {
  background-color: var(--deleteButtonHover);
}

/* Styly ikonek edit a delete */

.edit-icon {
  width: 15px;
  height: 15px;
}

.edit-button {
  background-color: var(--editButton);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: var(--editButtonHover);
}

.delete-icon {
  width: 15px;
  height: 15px;
}

.delete-button {
  background-color: var(--deleteButton);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--deleteButtonHover);
}
