:root {
    --backgroundColor: #D2E0FB;
    --fontColor: #333;
    --balanceItemRed:#f9d6d5 ;
    --balanceItemGreen: #e6f9e6;
    --listItemColor: #f2f4ff;
    --red: #FF6B6B;
    --green: #3D9970;
    --white: #ffffff;
    --deleteButton: #dc3545;
    --deleteButtonHover: #b02a37;
    --editButton: #ffc107;
    --editButtonHover: #e0a800;
    --paginationColor: #1D4E89;
    --paginationHover: #163A6B;
    --boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

