
/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: inherit; 
    text-decoration: none;
  }
  
  /* Global */
  
  html {
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: auto;
    min-height: 100%;
  }
  
  body {
    transition: all 0.7s linear;
    line-height: 1.5;
  }
  
  button, input, select, textarea {
    font-family: "Roboto Condensed", serif;
  }

  h1, h2, h3 {
    font-weight: 500; 
  }

  @media (max-width: 768px) {
    html {
      font-size: 17px;
    }
  }